# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: geodatagouv/node-gdal

    working_directory: ~/repo

    steps:
     # install ssh and git to ensure 'checkout' step proceeds correctly
      - run:
          name: Install ssh and git
          command: apt-get -yq update && apt-get -yqq install ssh && apt-get -yqq install git

      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      # run tests!
      - run: yarn test

      # deploy
      - deploy:
          name: Deployment
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              git remote add dokku dokku@zap-api.planninglabs.nyc:zap-api && git push dokku master
            elif [ "${CIRCLE_BRANCH}" == "develop" ]; then
              git remote add dokku dokku@zap-api.planninglabs.nyc:zap-api-staging && git push dokku develop:master
            fi
